image: docker:latest

services:
  - docker:24.0.5-dind

before_script:
  - docker info

stages:
  - build
  - deploy

variables:
  DOCKER_TLS_CERTDIR: "/certs"

build:
  stage: build
  tags:
    # - core
    - deploy
  only:
    - master
  script:
    - docker build -t $CI_REGISTRY_IMAGE:$CI_COMMIT_REF_SLUG .
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
    - docker push $CI_REGISTRY_IMAGE:$CI_COMMIT_REF_SLUG

deploy:
  stage: deploy
  tags:
    - deploy
  only:
    - master
  before_script:
    - apk add --no-cache sshpass
  script:
    - echo "Logging in to docker..."
    - sshpass -p $SERVER_PASSWORD ssh -o StrictHostKeyChecking=no $SERVER_USERNAME@$SERVER_IP "docker login registry.gitlab.com -u $CI_USER -p $TOKEN"
    - echo "Pulling the latest version of the Docker registry ..."
    - sshpass -p $SERVER_PASSWORD ssh -o StrictHostKeyChecking=no $SERVER_USERNAME@$SERVER_IP "docker pull registry.gitlab.com/all1401249/rnsafariback:master"
    - echo "Stopping current docker daemon ..."
    - sshpass -p $SERVER_PASSWORD ssh -o StrictHostKeyChecking=no $SERVER_USERNAME@$SERVER_IP "docker stop rnsafariback || true"
    - echo "Removing docker daemon ..."
    - sshpass -p $SERVER_PASSWORD ssh -o StrictHostKeyChecking=no $SERVER_USERNAME@$SERVER_IP "docker rm rnsafariback || true"
    - echo "Starting docker daemon ..."
    - sshpass -p $SERVER_PASSWORD ssh -o StrictHostKeyChecking=no $SERVER_USERNAME@$SERVER_IP "docker run -d -v safari:/mnt --name rnsafariback --env-file /root/files/.env -p 8000:8100 registry.gitlab.com/all1401249/rnsafariback:master"






# image: docker:latest

# services:
#   - docker:24.0.5-dind

# variables:
#   DOCKER_TLS_CERTDIR: "/certs"

# stages:
#   - build
#   - deploy

# before_script:
#   - docker info

# # -------------------------
# # Build Stage
# # -------------------------
# build:
#   stage: build
#   tags:
#     - core
#   only:
#     - master
#   script:
#     - docker build -t $CI_REGISTRY_IMAGE:$CI_COMMIT_REF_SLUG .
#     - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
#     - docker push $CI_REGISTRY_IMAGE:$CI_COMMIT_REF_SLUG

# # -------------------------
# # Deploy Stage
# # -------------------------
# deploy:
#   stage: deploy
#   tags:
#     - deploy
#   only:
#     - master
#   before_script:
#     - apk add --no-cache sshpass
#   script:
#     - echo "Logging in to server via SSH..."
#     - sshpass -p $SERVER_PASSWORD ssh -o StrictHostKeyChecking=no $SERVER_USERNAME@$SERVER_IP "
#         cd /root/deploy/safaridesk && \
#         docker-compose pull && \
#         docker-compose up -d --remove-orphans
#       "
#     - echo "Deployment completed."